.quote {
  font-size: 1.5em;
  font-weight: bold;
  transition: background-color 1000ms ease-in-out, color 1000ms ease-in-out;
}

.author {
  display: flex;
  justify-content: center;
  transition: background-color 1000ms ease-in-out, color 1000ms ease-in-out;
}

.quote-container {
  height: 150px;
  justify-content: center;
}

#new-quote {
  font-size: 1.5em;
  font-weight: bold;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.icon, .text {
  transition: background-color 1000ms ease-in-out, color 1000ms ease-in-out;
}