.quote {
  font-size: 1.5em;
  font-weight: bold;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
}

.author {
  display: flex;
  justify-content: right;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
}

.quote-container {
  height: 150px;
  justify-content: center;
}

#new-quote {
  font-size: 1.5em;
  font-weight: bold;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.icon, .text {
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
}

@media (max-width: 768px) {
  .quote {
    font-size: 1em;
  }

  .author {
    font-size: 0.75em;
  }

  .quote-container {
    height: 100px;
  }
}